*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgb(31,132,187);
    background: rgb(31,132,187);
background: radial-gradient(circle, rgba(31,132,187,1) 79%, rgba(54,62,203,1) 100%);

}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 6px;
    
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: rgb(31,132,187);
    background: rgb(31,132,187);
background: radial-gradient(circle, rgba(31,132,187,1) 79%, rgba(54,62,203,1) 100%);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left:  15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    
}

.user-details .input-box input:focus, .user-details .input-box input:valid{
    border-color: #2c5cc4
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}
form .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;

}

#dot-1:checked~.category  label .one,#dot-2:checked~.category  label .two{
    background:#2c5cc4;
    border-color: #d9d9d9;
    
}

form input[type="radio"]{
    display: none;
}

form .button{
    height: 45px;
    margin: 35px;
}

form .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s ease;
    background: linear-gradient(90deg, rgba(31,132,187,1) 89%, rgba(37,113,191,1) 96%, rgba(98,105,227,1) 100%);
    
}

form .button input:hover{
    background: linear-gradient(-90deg, rgba(31,132,187,1) 89%, rgba(37,113,191,1) 96%, rgba(98,105,227,1) 100%);

}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
       
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
} 